.major-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(134, 14, 182);

}
h1{
    color: white !important;
}

.main-div {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: rgb(24, 19, 96);
}

.map {
    height: 90px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-inside {
    display: flex;
    gap: 20px;
    padding-right: 10px;
}

.map span {
    width: 300px;
    padding: 40px;
}
.profile-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}